* {
	padding: 0;
	margin: 0;
}
body {
	height: 100vh;
	width: 100vw;
	background:#6CB6CB  url("../img/background.jpg") no-repeat bottom right / 900px;
}
#overlay {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    height:calc(100%);
    background: #fff;
    pointer-events: auto;
    transition: transform 0s 0.5s , opacity 0.5s;
    -webkit-transition: transform 0s 0.5s, opacity 0.5s;
    transform: translateY(-100%) translateY(-200px);
    -webkit-transform: translateY(-100%) translateY(-200px);
}
#overlay:after {
	content:"";
	position: absolute;
	bottom: -200px;
	height: 200px;
	background: url("../img/snow.jpg") repeat-x top left;
	width: 100%;
	left: 0;
}
#overlay.show {
	opacity: 1;
	transform: translateY(0%);
    -webkit-transform: translateY(0%);
     transition: transform 1s ease-in;
    -webkit-transition: transform 1s ease-in;
}
#container {
	position: relative;
	padding: 20px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}
#adventdoors {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
} 
.door {
	font-family: 'Bungee Inline', cursive;
	text-align: center;
	color: #fff;
	font-size: 30px;
	outline: 1px solid transparent;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	 -webkit-transform-style: preserve-3d;
    -webkit-perspective: 550px;
    -webkit-transform-origin: 0 50%;
    -webkit-transition: all 1s;
    -moz-transform-style: preserve-3d;
    -moz-perspective: 550px;
    -moz-transform-origin: 0 50%;
    -moz-transition: all 1s;
    -o-transform-style: preserve-3d;
    -o-perspective: 550px;
    -o-transform-origin: 0 50%;
    -o-transition: all 1s;
    transform-style: preserve-3d;
    perspective: 550px;
    transform-origin: 0 50%;
    transition: all 1s;
    padding: 12px 20px;
}
.shadow {
	background:url("../img/christmasScene.jpg") fixed center / cover;
	width: 200px;
	margin: 20px;
	list-style: none;
	height: 100px;
	box-sizing: border-box;
	position: relative;
}
.door.active:hover {
	-webkit-transform: scale(0.9,1) skew(0deg,5deg); /*use scale to change how wide it opens*/
    -moz-transform: scale(0.9,1) skew(0deg,5deg);
    -o-transform: scale(0.9,1) skew(0deg,5deg);
    transform: scale(0.9,1) skew(0deg,5deg);
}
.shadow:nth-child(4n+1) .door{
	background:#5F9F9F;
}
.shadow:nth-child(4n+2) .door{
	background:#ADEAEA;
}
.shadow:nth-child(4n+3) .door{
	background:#B4CDCD;
}
.shadow:nth-child(4n+4) .door{
	background:#B0E0E6;
}
.boxes {
	position: absolute;
	min-height: 50%;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	box-shadow: 0 0 3px 3px #333;
	background: url("../img/christmasBox.jpg") no-repeat top center / cover;
	padding: 30px;
	opacity: 0;
	padding-top: 350px;
	text-align: center;
	z-index: 4;
	pointer-events: none;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}
.boxes.active {
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.8s 1.2s;
	-webkit-transition: opacity 0.8s 1.2s;
}

.cross {
	pointer-events: none;
	height: 40px;
	width: 40px;
	border: solid 1px #000;
	background: url("../img/cross.png") no-repeat center / cover;
	position: absolute;
	top: -60px;
	right: -50px;
}